name: "Build Armbian SDK"
on:
  workflow_dispatch:
    # manual trigger
  schedule:
    # runs every day at 3am UTC
    - cron: '0 3 * * *' 

jobs:

  Keep:
    name: "Keep alive"
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      # checkout this repository
      - uses: actions/checkout@v5
      # prevent GitHub from suspending cronjob
      - uses: liskin/gh-workflow-keepalive@v1

  Matrix:
    needs: Keep
    strategy:
      fail-fast: false
      matrix:
        board: ["uefi-x86","uefi-arm64"]
        os: ["noble","trixie"]
        extension: [",image-output-qcow2",""]
        include:
        - board: uefi-x86
          runner: ubuntu-24.04
        - board: uefi-arm64
          runner: ubuntu-22.04-arm
    runs-on: ${{ matrix.runner }}
    name: "${{ matrix.os }},${{ matrix.board }}${{ matrix.extension }}"
    steps:

      - uses: armbian/build@main
        with:
          # mandatory
          armbian_token:              "${{ secrets.GITHUB_TOKEN }}"          # GitHub installation access token
          armbian_target:             "armbian-sdk"                          # build configuration from userpatches
          armbian_release:            "${{ matrix.os }}"                     # userspace: jammy, bookworm, trixie, etc.
          armbian_board:              "${{ matrix.board }}"                  # board build target
          # optional
          armbian_ui:                 "minimal"
          armbian_extensions:         "docker-ce,sdk${{ matrix.extension }}" # enable extensions
          armbian_release_tittle:     "Armbian SDK"                          # release tittle
          armbian_release_tag:        "${{ github.run_id }}"
          armbian_release_body:       "Virtual images for x86 and arm64"     # release body
          armbian_pgp_key:            "${{ secrets.GPG_KEY1 }}"              # key for signing
          armbian_pgp_password:       "${{ secrets.GPG_PASSPHRASE1 }}"       # password for key
