name: "Build Armbian SDK"
on:
  workflow_dispatch:
    # manual trigger
  schedule:
    # runs every day at 3am UTC
    - cron: '0 3 * * *' 

jobs:

  Keep:
    name: "Keep alive"
    runs-on: ubuntu-latest
    steps:
      # checkout this repository
      - uses: actions/checkout@v4
      # prevent GitHub from suspending cronjob
      - uses: gautamkrishnar/keepalive-workflow@v1 

  Matrix:
    needs: Keep
    strategy:
      fail-fast: false
      matrix:
        board: [uefi-x86,uefi-arm64]
        os: ["jammy"]
        extension: [",image-output-qcow2",""]
        
    name: "${{ matrix.os }},${{ matrix.board }}${{ matrix.extension }}"
    runs-on: ubuntu-latest
    steps:

      - uses: igorpecovnik/build@main # #uses: armbian/build@AR-1459
        with:
          # mandatory
          armbian_token:              "${{ secrets.GITHUB_TOKEN }}"          # GitHub installation access token
          armbian_target:             "armbian-images"                       # build configuration from userpatches
          armbian_release:            "${{ matrix.os }}"                     # userspace: jammy, bookworm, trixie, etc.
          armbian_board:              "${{ matrix.board }}"                  # board build target
          # optional
          armbian_extensions:         "docker-ce,sdk${{ matrix.extension }}" # enable extensions
          armbian_release_tittle:     "Armbian SDK"                          # release tittle
          armbian_release_body:       "Virtual images for x86 and arm64"     # release body
          armbian_pgp_key:            "${{ secrets.GPG_KEY1 }}"              # key for signing
          armbian_pgp_password:       "${{ secrets.GPG_PASSPHRASE1 }}"       # password for key
